<div class="modal fade" id="ssc_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Configure with SecurityScore Card</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="basic-form" method='post' action='/ssc_connector/ssc/'>
          {% csrf_token %}
            <div class="control">
                <label for="exampleFormControlInput1">Interval</label>
                <input type="number" class="span3" name="interval" id="app_url"  required="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">API Url</label>
                <input type="text" placeholder="https://app_url.com" class="span3" name="api_url" id="email_id" required="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">API Token</label>
                <input type="text" class="span3" name="api_token" id="api_token" required="">
            </div>
             <div class="form-group">
                <label for="exampleFormControlInput1">Overall Score</label>
                <input type="number" class="span3" name="overall_score" id="project_key" required="">
            </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Factor Score</label>
                <input type="number" class="span3" name="factor_score" id="project_key" required="">
            </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Issue Level Event</label>
                <input type="number" class="span3" name="issue_level" id="project_key" required="">
            </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Domain Url</label>
                <input type="text" class="span3" name="domain" id="project_key" required="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
         </form>
        </div>
       
      </div>
    </div>
  </div>
