{% extends "dashboard/base.html" %}
{% load static%}
{% block content %}
<style type="text/css">
  * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

</style>
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class="active"><a href="#"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
        <li><a href="#"><i class="icon-list-alt"></i><span>Reports</span> </a> </li>
        <li><a href="#"><i class="icon-facetime-video"></i><span>App Tour</span> </a></li>
        <li><a href="#"><i class="icon-bar-chart"></i><span>Charts</span> </a> </li>
        
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="main">
  <div class="main-inner">
    <div class="conatiner">
      <div class="row">
        <div class="span12">
        <div class="widget">
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    </div>  
    </div>
    </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
</div>
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row"> 
        <div class="span12">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Source Application</h3>
            </div>
            <div class="widget-content">
              <div class="row">
                  <div class="column">
                    <div class="card">
                      <img src="{% static 'img/ssc_logo1.png' %}"  style="width: 70px; height: 60px; margin-bottom: ">
                      <h3>Security Score Card</h3>

                      {% if ssc_data %}
                      <a href="#" class="btn btn-success" data-toggle="modal" data-target="#ssc_modal">Edit</a>
                      <a href="#" class="btn btn-success" data-toggle="modal" data-target="#ssc_modal">Disable</a>
                      {% else %}
                      <a href="#" class="btn btn-success" data-toggle="modal" data-target="#ssc_modal">Configure</a>
                      {% endif %}

                    </div>
                  </div>
              </div>
           
        </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
   <div class="container">
      <div class="row"> 
        <div class="span12">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Application Connected</h3>
            </div>
            <div class="widget-content">
              <div class="row">
                  <div class="column" disabled>
                    <div class="card">
                      <img src="{% static 'img/slack.png' %}"  style="width: 70px; height: 60px; margin-bottom: ">
                      <h3>Slack</h3>
                      <a href="#" class="btn btn-success" data-toggle="modal" data-target="#slack_modal">Configure</a>
                      <a href="#" class="btn btn-success">Edit</a>
                    </div>
                  </div>
                 <div class="column">
                    <div class="card">
                      <img src="{% static 'img/jira.svg' %}"  style="width: 70px; height: 60px; margin-bottom: ">
                      <h3>Jira</h3>
                      {% if jira_data %}
                      <a href="#" class="btn btn-success" data-toggle="modal" data-target="#jira_modal">Edit</a>
                      <a href="#" class="btn btn-success" data-toggle="modal" data-target="#jira_modal">Disable</a>
                      {% else %}
                         <a href="#" class="btn btn-success" data-toggle="modal" data-target="#jira_modal">Configure</a>
                        {% endif %}
                    </div>
                  </div>
              </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% include "connectors/model/connect_jira.html" %}
{% include "connectors/model/connect_slack.html" %}
{% include "connectors/model/connect_ssc.html" %}

{% endblock content %}
