<!doctype html>

<body>
    <div class="container">
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card border-success">
                    <div class="card-header">
                        <h1 class="text-center">Install SSC in Slack</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <fieldset class="form-group">
                                <label for="api-token">API Token</label>
                                <input type="password" name="api-token" id="api-token" class="form-control" placeholder="Enter API token" />
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="domain">Domain</label>
                                <input type="text" name="domain" id="domain" class="form-control" placeholder="Enter your domain" />
                            </fieldset>
                            <button type="submit" class="btn btn-block btn-success">Install</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>